---
// Classification bar - replaces the navbar in the dossier layout.
---
<header class="classbar">
  <div class="classbar-inner">
    <a class="cb-left cb-home" href="/" title="Home" aria-label="Home">CONFIDENTIAL // OSINT DOSSIER</a>
    <span class="cb-mid">CASE&nbsp;#IR-2026</span>
    <span class="cb-right"><i class="led-dot"></i><span data-clock>--:--:--</span> KUL</span>
  </div>
</header>
